/* profileStyles.css */
.profile-container {
  @apply flex flex-col min-h-screen ;
}

.profile-main {
  @apply flex-grow flex flex-col lg:flex-row p-5 gap-5 mt-14;
}

.profile-left-section {
  @apply lg:w-1/4 flex flex-col items-center p-4 bg-white shadow-lg rounded-lg;
}

.profile-image-container {
  @apply relative w-24 h-24 rounded-full overflow-hidden border-4 border-gray-300 mb-4;
}

.profile-image {
  @apply w-full h-full object-cover;
}

.profile-input {
  @apply absolute inset-0 opacity-0 cursor-pointer;
}

.profile-text {
  @apply text-center;
}

.profile-name {
  @apply text-lg font-semibold mb-2;
}

.profile-location {
  @apply text-xs text-gray-500 mb-1;
}

.profile-phone,
.profile-nic,
.profile-email {
  @apply text-gray-600 mb-1;
}

.profile-email-link {
  @apply text-blue-600 mb-4;
}

.profile-update-btn {
  @apply bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded;
}

.profile-right-section {
  @apply lg:w-3/4 p-5 bg-white shadow-lg rounded-lg;
}

.profile-info-heading {
  @apply text-2xl font-semibold mb-4;
}

.profile-buttons-container {
  @apply flex mb-4 justify-center;
}

.profile-buttons {
  @apply flex flex-col;
}

.profile-btn-group {
  @apply flex w-6/12;
}

.profile-btn-personal {
  @apply w-1/2 py-2 px-4  text-white rounded-t-lg rounded-l-lg border-r border-gray-300;
}

.profile-btn-security {
  @apply w-1/2 py-2 px-4  text-gray-800 rounded-t-lg rounded-r-lg;
}

.profile-btn {
  padding: 0.5rem 1.5rem;
  text-align: center;
  border-radius: 0.375rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: 1px solid transparent;
  min-width: 150px;
}

/* Active button styling */
.bg-blue-500 {
  background-color: #3b82f6;
}

.bg-blue-500:hover {
  background-color: #2563eb;
}

/* Inactive button styling */
.bg-gray-200 {
  background-color: #e5e7eb;
}

.bg-gray-200:hover {
  background-color: #d1d5db;
}

/* Text colors */
.text-white {
  color: white;
}

.text-gray-800 {
  color: #2d3748;
}

/* media queries */
@media screen and (max-width: 660px) {
  .profile-btn-group {
    width: 100%;
  }
}
