

.auth-container {
  display: flex;
  min-height: 100vh;
  background-color: #ffffff;
}

.auth-image {
  flex: 1;
  background-color: #c2d6ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-image img {
  width: 80%;
  max-width: 500px;
  height: auto;
}

.auth-form {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}



p {
  margin-bottom: 20px;
  color: #666;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.primary-button {
  width: 100%;
  padding: 10px;
  background-color: #3366ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
}

.secondary-button {
  width: 100%;
  padding: 10px;
  background-color: white;
  color: #333;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
