/* Navbar styles for desktop */
.navbar {
  @apply bg-white shadow-lg;
}

.navbar-container {
  @apply p-3 flex justify-between items-center; /* Use justify-between to space items to corners */
}

.navbar-brand {
  @apply flex items-center;
}

.logo {
  @apply m-2;
  height: 1.5rem;
}

/* Desktop navbar menu */
.navbar-menu {
  @apply hidden md:flex place-items-end justify-end space-x-6; /* Align items to the right */
}

.nav-link {
  @apply text-gray-800 hover:text-gray-600;
}

.mobile-menu {
  @apply hidden;
}

/* Media query for screens with a max width of 760px */
@media (max-width: 760px) {
  .mobile-menu {
    @apply block; /* Show the button */
  }

  .logo {
    @apply m-2;
    height: 1.2rem;
  }

  .navbar-menu {
    @apply flex-col md:hidden pb-4; /* Display menu items as a column */
    display: none; /* Hidden initially */
    height: max-content; /* Set height to fit the content */
    justify-content: center; /* Vertically center items */
    align-items: center; /* Horizontally center items */
    position: absolute; /* Absolute position for overlay */
    top: 64px; /* Adjust top position under navbar */
    left: 0;
    right: 0;
    background-color: rgba(225, 225, 225, 0.796); /* Ensure background covers the full width */
    z-index: 10;
  }

  .nav-link {
    @apply m-2 p-1; /* Center text and full width */
  }

  .navbar-menu.active {
    display: flex; /* Display the menu when active */
  }

  .nav-link {
    @apply text-gray-800 text-base hover:text-gray-600 w-full text-center; /* Center text and full width */
  }
}
