/* Navbar styles for desktop */
.navbar {
  @apply bg-white shadow-lg;
}

.navbar-container {
  @apply container p-3 flex justify-between items-center; /* Use justify-between to space items to corners */
}

.navbar-brand {
  @apply flex items-center;
}

.logo {
  @apply m-2;
  height: 1.5rem;
}

/* Desktop navbar menu */
.navbar-menu {
  @apply hidden md:flex place-items-end justify-end space-x-6; /* Align items to the right */
}

.nav-link {
  @apply text-gray-800 hover:text-gray-600;
}

.mobile-menu {
  @apply hidden;
}

/* Mobile styles (screens smaller than 1024px) */
@media (max-width: 1024px) {
  /* Mobile navbar menu (hidden by default) */
  /* Mobile navbar menu (hidden by default) */
  .navbar-menu {
    @apply flex-col items-center space-y-2 w-full bg-white p-4 absolute top-16 left-0 right-0 z-10;
    display: none; /* Hidden initially */
    height: calc(100vh - 64px); /* Full height minus navbar height */
  }

  /* Mobile navbar menu when active (visible) */
  .navbar-menu.active {
    @apply block; /* Display vertically when active */
    justify-content: center; /* Center items vertically */
  }

  /* Nav link styles */
  .nav-link {
    @apply text-gray-800 text-base hover:text-gray-600 w-full text-center; /* Center text and full width */
  }

  /* Ensure the hamburger menu button is visible on screens smaller than 1024px */
  .mobile-menu {
    @apply block; /* Show the button */
  }

  /* Mobile menu icon styling */
  .mobile-menu-icon {
    @apply h-6 w-6 text-gray-800;
  }
}

/* Media query to show the hamburger icon on mid-size screens */
@media (max-width: 760px) {
  .mobile-menu {
    @apply block; /* Show the button */
  }

  .navbar-menu {
    @apply flex-col items-center space-y-4 w-full bg-white p-4 absolute top-16 left-0 right-0 z-10;
  }
}
